BASIC PYTHON PROGRRAME

In [1]:
print("Hello world")

Hello world

In [2]:
print("python task 1")

python task 1

In [ ]:
Python comments

In [12]:
# sample comment #single line comment
""" 
this is a comment
multi line comment  # this is multi line comment 
"""
print("hello world")

hello world

HOW TO STORE IN VARIBLE

In [4]:
a= 10
print(a)

10

In [6]:
age=45  #this is a integer value
salary=1459.9  #this is a FLOAT VALUE
name="Ajay" # This is a string 
print(age)
print(salary)
print(name)

45
1459.9
Ajay

DATA TYPES

In [9]:
a= "Hello world" #strings
b= 50 #int
c= 12.5 #float
d=3j #complex
e= ["hello","everyone"]#lists
f=("hello","everyone")#tuple
g={"name ":"suraj","age":"25"}#dict
h={"hello","everyone"}#set
i=True #bool

OPERATORS

Arthimatic operator

In [13]:
a=40
b= 20  #additon 
print(a+b)

60

In [15]:
print(50-20) #subtraction
print(20*2)  #multiplication
print(20/2)  #division
print(20//2) #floordivison 
print(20%2)  #module
print(20**2)  #expontenation(power)

30
40
10.0
10
0
400

Comparison operator

In [16]:
a=10
b=10  #equality comparison operator 
print(a==b)
a=5
b=10  #inequality comparison operator
print(a!=b)
a=50
b=10  #Greater comparison operator
print(a>b)
a=5
b=10  #less comparison operator 
print(a<b)
a=5  #changing comparison operator  
print(1<a<10)

True
True
True
True
True

Logical operator

In [21]:
a=10
b=2   #AND 
print(a>b and b<a)

a=10 #NOT 
print(not(a<10 and a<10))

a=10
b=2   #or
print(a>b or b>a)

True
True
True

Membership operators

In [23]:
string1="Hello"
print('H'in string1)  # in 

string1="Hello"
print('i'not in string1)  # not in

True
True

Identify operator

In [24]:
a=10
b=10  #is
print(a is b)
a=5
b=10  #is not
print(a is not b)

True
True

Bitiwise operator

In [1]:
x=10
y=8
print(bin(x)) # bin() check the binary number
print(bin(y))
print(x&y) # & (and)
print(x|y) # | (or)
print(x^y) # ^  ()

0b1010
0b1000
8
10
2

Conditional statement

In [4]:
# There are three conditional statment:-
# 1) if
# 2) if else
# 3) Nested if else
# 4) if elif else

In [5]:
# 1) if
a=10
b= 2
if 10>2:
    print("10 is greater than 2")

10 is greater than 2

In [6]:
# if-else
x=3
if x== 4 :
    print("yes")
else :
    print("No")

No

In [8]:
# Nested if else
letter = "A"

if letter =="B":
    print("letter is B")
else:
    if letter == "c":
        print("letter is c")
    else:

        if letter == "A":
            print("letter is A")

        else:
            print("letter isn't A, B and c")

letter is A

In [9]:
# if elif else
letter ="A"

if letter == "B" :
    print("letter is B")

elif letter == "C":
    print("letter is C")
elif letter == "A" :
    print("letter is A")
else :
    print("letter isn't A,B or C")

letter is A

practicse question conditional statment

In [2]:
#  write a programme to check whether a number entered by user is even or odd

num=int(input("enter the number:-"))
if num %2==0:
    print("even number")
else:
    print("odd number")

enter the number:- 5

odd number

In [4]:
# write a programmme to check  whether a number is divsible  by 7 or not
num=int(input("enter the your age"))
if num %7==0:
    print("number is divsible by")
else:
    print("number is no divsible by")

enter the your age 70

number is divsible by

DATA STRUCTURE

In [6]:
# COMMON DATA STRUCTURE LIKE:-
# 1)Lists
# 2) Tuples
# 3) Dictionary

In [7]:
# Lists
lists = [1,2,3,4,5,6,7]
print (lists)

[1, 2, 3, 4, 5, 6, 7]

Practise Question lists

In [8]:
# Write a python programme  to get  the largest number  from  a list 
a=[1,3,4,5,10,4,5,6]
print("Largest number",max(a))

Largest number 10

In [11]:
# Write a programme  to turn  every item of a lists  into  its  square

number = [1,2,3,4,5,6,7]
# result list
res = []
for i in number:
    res.append(i*i)
    print(res)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]

In [13]:
# TUPLES
thistuples = ("apple",'banana',"mango")
print(thistuples)

('apple', 'banana', 'mango')

practise question tuples

In [20]:
# Write a progrrame to convet a list to a tuple
l = [12,45,67,89,98]
print(l)
print(type(l))
t=tuple(l)
print(t)
print(type (t))

[12, 45, 67, 89, 98]
<class 'list'>
(12, 45, 67, 89, 98)
<class 'tuple'>

In [21]:
# Dictionary
dictionary ={"raj":2 ,"strive":3,"vikram":4}
print (dictionary)

{'raj': 2, 'strive': 3, 'vikram': 4}

In [25]:
# write a programme to  sorting dictionary by key
myDict ={"ravi":10,"rajesh":34,"yash":56,"suraj":3}
mykeys = list(myDict.keys())
mykeys.sort()
sorted_dict = {i: myDict[i] for i in mykeys}
print(sorted_dict)

{'rajesh': 34, 'ravi': 10, 'suraj': 3, 'yash': 56}